flask==3.0.0
flask-cors==4.0.0
Flask-SocketIO==5.3.6
eventlet==0.33.3  # Required for Flask-SocketIO
PyAudio==0.2.14
numpy==1.26.4
librosa==0.11.0
joblib==1.3.2
scikit-learn==1.4.0
python-socketio[client]==5.11.1
websocket-client==1.7.0
